deps/*
home-assistant.log
home-assistant_v2.db
known_devices.yaml
secrets.yaml
.gitignore
*.save
*.pyc
*.log*
custom_components/
.storage
*.db*
*picotts.wav
www/community/*
*.cookies*
*.old
.ftpconfig
.ps4*
.spotify*
.ios.conf
custom_components/mta_subway*
.HA_VERSION
image/*
blueprints/*